/* the a is the child in the nav for each of the links*/
*{
    /* border: 1px solid red; */
}
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Rubik:wght@300&display=swap');

body{
    font-family: Rubik, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
#content{
    max-width: 1100px;
    margin: 0 auto;
}
a {
    background-color: #85B5C8;
    color: #EFF2F2;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align:center;
    border-radius: 5px;
}
a:hover {
    background-color: #EFF2F2;
    color: darkgray;
}
nav{
    display: flex;
    background: #709183;
    justify-content: center;
    padding: 3px;
}
h1{
    font-size: 1.5em;
    text-align: center;
}
img {
    width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
p{
    /* text-align: center; */
    width: 50%;
    margin: 10px auto;
    padding: 5px 8px;
}
.home_background{
    background: lightgray;
}
footer p {
    width: 100%;
    text-align: center;
    background-color: #709183;
    color: #EFF2F2;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align:center;
}