
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Montserrat:wght@300&family=Rock+Salt&family=Special+Elite&display=swap');

/* *{
    border: 1px solid red;
} */
.content{
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
}
body{
    background-color:white;
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5{
    font-family: 'Rock Salt', 'Bradley Hand', serif;
    color:#FF6523;
}
header{
    background-color:#FF6523;
    display: grid;
    grid-template-columns: 150px auto;
}
.logo{
    width: 100%;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color:#FEE9AE;
    text-decoration: none;
    padding: 35px;
    
}
nav a:hover{
    background-color:#1982C4;
    color: #FEE9AE;
}

p{
    width: 70%;
    margin: 10px auto;
    padding: 5px 8px;
}
.disclaimer{
    font-size: .85em;
    
}
.home-banner{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    
}
.intro{
    text-align: center;
    grid-template-columns: repeat(10, 1fr);
}
.intro img{
    width: 30%;
    border-radius: 20%;
    box-shadow: 5px 5px 10px #6f7364;
    grid-column: 5/11;
}
.intro h4{
    grid-column: 1/11;
}
.intro p{
    text-align: left;
    grid-column: 2/10;
}
.intro-background{
    height: 100%;
    width: 100%;
    background-color: #1982C4;
    grid-row: 6/7;
}
.why-choose{
   background-color: #1982C4;
   padding: 10px;
   color: #FEE9AE;
}
.why-choose p{
    padding-bottom: 10px;
}
img{
    max-width: 50%;
}
.history{
    text-align: center;
    /* display: grid; */
    grid-template-columns: repeat(10, 1fr);
    row-gap: 10px;
}
.history p{
    text-align: left;
    grid-column: 2/10;
}
.ancient img{
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
    grid-column: 5/11;
}
.modern img{
    width: 300px;
    box-shadow: 5px 5px 10px #6f7364;
    grid-column: 5/7;
}
.staff{
    text-align: center;
    display:grid;
    grid-template-columns: repeat(7, 1fr);
}
.staff h4{
    grid-column: 3/6;
}
.staff p{
    text-align: left;
}
.staff p:nth-of-type(1){
    grid-column: 4/7;
    grid-row: 2/3;
    color:#FEE9AE;
    background-color: #1982C4;
}
.staff p:nth-of-type(2){
    grid-column: 4/7;
    grid-row: 3/4;
}
.staff p:nth-of-type(3){
    grid-column: 4/7;
    grid-row: 4/5;
    color:#FEE9AE;
    background-color: #1982C4;
}
.staff p:nth-of-type(4){
    grid-column: 4/7;
    grid-row: 5/6;
}
.staff p:nth-of-type(5){
    grid-column: 4/7;
    grid-row: 6/7;
    color:#FEE9AE;
    background-color: #1982C4;
}
.staff img{
    width: 100%;
    padding:30px;
    grid-row: 2;
    /* margin-left: 30px; */
}
.staff img:nth-of-type(1){
    grid-column: 2/4;
    grid-row: 2/3;
}
.staff img:nth-of-type(2){
    grid-column: 2/4;
    grid-row: 3/4;
}
.staff img:nth-of-type(3){
    grid-column: 2/4;
    grid-row: 4/5;
}
.staff img:nth-of-type(4){
    grid-column: 2/4;
    grid-row: 5/6;
}
.staff img:nth-of-type(5){
    grid-column: 2/4;
    grid-row: 6/7;
}

/* activities page */
.page-two{
    max-width: 1600px;
    display: grid; 
    grid-template-columns: repeat(10, 1fr);
} 

.page-two .camp{
    grid-column: 5/7;
    width: 100%;
    grid-row: 1/2;
    border-radius: 50%;
    
}


footer{
    background-color: #FF6523;
    color:#EFF2F2;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color:#EFF2F2;
    text-decoration: none;
}
footer a:hover{
    color:#EFF2F2;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
 /* registration */
h2{
    margin: 50px auto;
}
#summer {
    background-color: #1982C4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
form {
    /* Center the form on the page */
    margin: 200px auto;
    width: 600px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #FF6523;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 125px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #1982C4;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #FF6523;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
    margin: 50px auto;
    font-size: 100px;
    width: 100px;
  }
  
  .button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }